button {
    padding: 8px 16px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #4E75FF;
    border-radius: 8px;
    background-color: #4E75FF;
    outline: none;
}

button:hover {
    background-color: #6C8CFF;
    border: 1px solid #6C8CFF;
}

.widget {
    padding: 100px 88px;
}

.widget p {
    color: #2E2F42;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
